<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>  
        <title>Ajuda</title>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="estilos-css/materialize.css"/>
        <link rel="stylesheet" href="estilos-css/containers.css"/>
        <script src="js/jquery-3.2.1.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/efeitos.js"></script>
        <script src="js/controllerView/pagView.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper cor-padrao padding">
                <a href="index.html" class="brand-logo"><img src="img/logo.png" width="64px" height="64px" class="responsive-img" alt="logo do site"/></a>
                <a href="#" data-activates="menu-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down barras-menu-home">
                    <li><a href="cadastro.html">Cadastrar</a><hr/></li>
                    <li><a href="#modal-fale-conosco">Fale Conosco</a><hr/></li>
                    <li><a href="sobre.html">Sobre</a><hr/></li>
                    <li><a href="ajudahome.html">Ajuda</a><hr/></li>
                    <li><a href="#modalLogin" class="modal-trigger">Login</a></li>
                </ul>

                <ul id="menu-mobile" class="side-nav">
                    <li><a href="cadastro.html">Cadastrar</a></li>
                    <li><a href="#modal-fale-conosco">Fale Conosco</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="ajuda.html">Ajuda</a></li>
                    <li><a href="#modalLogin" class="modal-trigger">Login</a></li>
                </ul>
            </div>
        </nav>


        <main class="container ajuda">
            <h5 class="titulo-ajuda">Ajuda</h5>
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a class="active ativo" href="#test-swipe-1">Clientes</a></li>
                <li class="tab col s3"><a class="inativo" href="#test-swipe-2">Profissionais</a></li>
            </ul>
            <div id="test-swipe-1" class="col s12">
                <div class="row">
                    <div class="col l3">
                        
                        <p class="negrito">Duvidas Frequêntes</p>
                        <ul class="lista-ajuda">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque, .
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col l9">
                        <div class="col l12 busca sem-padding form  margem-do-topo">
                            <div class="input col l4 sem-padding">
                                <label class="active" for="busca">Buscar por:</label>
                                <input id="busca" type="text" class="validate"/>
                            </div>
                            <button>
                                <img src="img/0-41.png" alt="lupa"/>
                            </button> 
                        </div>
                        
                        <div class="col l12 ">
                            <h5>titulo da pergunta</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                A earum reprehenderit minima repellat omnis, dignissimos
                                itaque tempora voluptatibus consequatur possimus qui id 
                                eveniet, laboriosam debitis eum suscipit ipsam obcaecati dolores!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta></h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div id="test-swipe-2" class="col s12">
                <div class="row">
                    <div class="col l3">
                        <p class="negrito">Dicas para melhorar sua qualificação!</p>
                        <ul class="lista-ajuda">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque, .
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Deleniti optio doloremque.
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col l9">
                        <div class="col l12 busca sem-padding form  margem-do-topo">
                            <div class="input col l4 sem-padding">
                                <label class="active" for="busca">Buscar por:</label>
                                <input id="busca" type="text" class="validate"/>
                            </div>
                            <button>
                                <img src="img/0-41.png" alt="lupa"/>
                            </button> 
                        </div>
                        
                        <div class="col l12 ">
                            <h5>titulo da pergunta Profissionais</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                A earum reprehenderit minima repellat omnis, dignissimos
                                itaque tempora voluptatibus consequatur possimus qui id 
                                eveniet, laboriosam debitis eum suscipit ipsam obcaecati dolores!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta Profissionais</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta Profissionais</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta Profissionais</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                        <div class="col l12 ">
                            <h5>titulo da pergunta</h5>
                            <p>
                                Incidunt nobis magnam placeat. Pariatur sequi doloribus quis
                                eum, soluta debitis, perferendis perspiciatis dolores, eligendi
                                totam quaerat tenetur ullam porro alias inventore culpa rem 
                                impedit ea quod facere quibusdam dolorem!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <div id="modal-fale-conosco" class="modal">
            <iframe src="FaleConosco.html" class=" iframe-contato"></iframe>
        </div>
      <form th:action="@{/index}" method="POST" class="form-signin">
        
        <div id="modalLogin" class="modal modal-login">
            <div class="row fundo-branco form">
                <div class="col s4 m4 l4 botoes-modal-login ">
                    <a class="waves-effect waves-light btn ativo-login">Cliente</a>
                </div>
                <div class="col s4 m4 l4 botoes-modal-login">
                    <a class="waves-effect waves-light btn inativo-login">Profissional</a>
                </div>
                <div class="col s4 m4 l4 botoes-modal-login">
                    <a class="waves-effect waves-light btn inativo-login">Moderador</a>
                </div>

                <div class="col l12">
                    <div class="col l8 offset-l2">
                        <label for="email">Email</label>
<!--                         <input type="text" id="email" name="email"/> -->
                        			<input type="text" id="usuario_email" name="usuario_email"  th:placeholder="Email"
				class="form-control" />
                    </div>
                    <div class="col l8 offset-l2">
                        <label for="senha">Senha</label>
<!--                         <input type="password" id="passwd" name="passwd"/> -->
                        <input type="password" id="usuario_senha" name="usuario_senha" th:placeholder="Password"
				 class="form-control" />
                    </div>
                </div>

                <div class="col l10 offset-l2">
                    <div class="col l6">
                       	<button class="waves-effect waves-light btn botao-padrao" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                    
<!--                         <a id="logar" class="waves-effect waves-light btn botao-padrao">Entrar</a> -->
                    </div>
                    <div class="col l6 radio-login">
                        <p>
                            <input type="checkbox" id="conectado" class="filled-in"/>
                            <label for="conectado">Manter Conectado</label>
                        </p>
                        
                            <div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email ou senha invalida, por favor verifique dados</p>
			</div>
                    </div>
                </div>
            </div>

            <div class="topo-botao"></div>
            <div class="rodape-modal">
                <a href="cadastro.html" class="modal-action modal-close waves-effect waves-green btn-flat">Cadastrar</a>
            </div>
            <script src="js/login.js"></script>
        </div>
		</form>
    </body>
</html>