
<nav>
	<div class="nav-wrapper cor-padrao padding">
		<a href="index.html" class="brand-logo"><img src="img/logo.png"
			width="64px" height="64px" class="responsive-img" alt="logo do site" /></a>
		<a href="#" data-activates="menu-mobile" class="button-collapse">
			<i class="material-icons">menu</i>
		</a>

		<ul id="nav-mobile"
			class="right hide-on-med-and-down barras-menu-home">
			<li><a href="cadastro.html">Cadastrar</a>
			<hr /></li>
			<li><a href="#modal-fale-conosco">Fale Conosco</a>
			<hr /></li>
			<li><a href="sobre.html">Sobre</a>
			<hr /></li>
			<li><a href="ajudahome.html">Ajuda</a>
			<hr /></li>
			<li><a href="#modalLogin" class="modal-trigger">Login</a></li>
		</ul>

		<ul id="menu-mobile" class="side-nav">
			<li><a href="cadastro.html">Cadastrar</a></li>
			<li><a href="#modal-fale-conosco">Fale Conosco</a></li>
			<li><a href="sobre.html">Sobre</a></li>
			<li><a href="ajuda.html">Ajuda</a></li>
			<li><a href="#modalLogin" class="modal-trigger">Login</a></li>
		</ul>
	</div>
</nav>